body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 350px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

small {
    color: red;
    visibility: hidden;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}
